@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* Basic Settings */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-transform: lowercase;
    font-family: Dosis, sans-serif;
}

body{
    background-color: #02162c;
    color: rgb(207, 207, 207);
    
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration-line: underline ;
    text-decoration-color: yellow;
}

img{
    height: 300px;
    width: 100%;
}



/* Grid Initialize */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#navi{
    grid-column: 1/2;
    text-align: right;
    padding-top: 20vh;
}

#navi ul{
    list-style: none;
}

#main{
    grid-column: 2/3;
    text-align: center;
    overflow: scroll;
}

#sidebar{
    padding-top: 24vh;
    grid-column:3/4;
    text-align: left;
}

.middle{ 
    font-size: 1.5em;
}

.no-transform{
    text-transform: none;
}

.navi li{
    text-align: right;
    font-size: 1.2em;
}

/* Form Formatting */
.lb{
    display: inline-block;
    width: 10em;
    color: white;
    margin-right: 3em;
    text-align: right;
}

.inputline{
    color: white;
    background-color: black;
    border: #02162c 3px;
    padding: 0.3em;
    margin: 0.3em;
    font-size:0.9em;
    width: 15em;
    text-transform:none;
}

.btn{
    color: white;
    background-color: #1763af;
    align-self: center;
    padding: 0.6em;
    font-weight: 800;
    font-size: 1em;
    display: inline-block;
    border-radius: 0.5em;
    border: none;
}

.btn:hover{
    color: black;
    background-color: yellow;
}

.commentform{
    width: 80%;
    height: 20em;
    margin: 1em;
    background-color: black;
    color: lightgrey;
    border: none;
    font-size: 1em;
    text-transform: none;
    resize: none;
}


/* Post Page */

#main_text{
    text-align:justify;
}

.comment{
    margin-bottom: 1em;
}

.comment_user{
    font-size: 0.9em;
    font-style: italic;
}

.comment_content{
    text-align: left;
    margin-left: 3em;
}

#likenumber{
    font-size: 2em;
    color: yellow;
}


/* Login & Register Page Formatting */
.formpage{
    margin-top:16vh;
}

.space{
    margin: 0.6em;
}

/* Flash Warning */
#flash{
    border: solid yellow;
    color:black;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5vh;
    background-color: rgba(125,125,125,90%);
    transform: translate(-50%, -50%);
}

@media (max-width: 900px){
    .grid-container{
        height: 90vh;
        grid-template-rows: 6fr 1fr;
    }
}

