<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {%if title%}
            {{title}}
            {%else%}
            My Damn Fine Website
            {%endif%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://kit.fontawesome.com/fbff42ae6f.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='moment.js')}}"></script>
        <script>
            function menuSwitch() {
              var x = document.getElementById("navi");
              var y = document.getElementById("menubtn");
              if (x.className === "navibar") {
                x.className = "navivis";
                y.textContent="Close";
              } else {
                x.className = "navibar";
                y.textContent="Menu";
              }
            }
        </script>     
    </head>
    <body>
        <div class="grid-container">
            <div id="topnav">
                <h1 class="title">Bill's Blog</h1>
                <a href="javascript:void();" onclick="menuSwitch()" class="topnavbtn" id="menubtn">Menu</a>
                
            </div>
            <div id="navi" class="navibar">
                <h1>Bill's Blog</h1>
                <form action="{{url_for('search')}}" method="get">
                    <input type="search" name="s" class="inputline" id="searchfield" placeholder="search">
                    <button class="btn" id="searchbtn"><i class="fas fa-search"></i></button>
                </form>
                <ul>
                    {%if current_user.is_authenticated%}
                    <li>Welcome, {{current_user.username}}!</li>
                    <li><a href="{{url_for('logout',next=request.path)}}">Log Out</a></li>
                    <li><a href="{{url_for('tagged')}}">Tagged</a></li>
                {%else%}
                    <li>Welcome, Guest!</li>
                    <li><a href="{{ url_for('register',next=request.path) }}">Register</a></li>
                    <li><a href="{{ url_for('login',next=request.path )}}">Log In</a></li>
                {%endif%}
                    <li>------------</li>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('allpostroot')}}">Posts</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                {% if current_user.is_admin %}
                    <li>------------</li>
                    <li><a href="/admin">Admin Panel</a></li>
                {% endif %}
                    <li>------------</li>
                    <li>Bill Wu 2021</li>
                    <li><a href="https://github.com/ibillwu">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/ibillwu/">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://twitter.com/ibillwu">Twitter</a></li>
                </ul>
            </div>
            <div id="main">
                {% block content %} {% endblock content%}

            </div>
            <div id="sidebar">
                {% block sidebar %} {% endblock sidebar%}

            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {%if messages%}
        <div id="flash">
                <ul class="flashes">
                    {%for message in messages%}
                    <li><strong>{{message}}</strong></li>
                    {%endfor%}
                </ul>
                Click here to close window.
        </div>
        <script src="{{url_for('static',filename='close.js')}}"></script>
        {%endif%}
        {%endwith%}
   
    </body>
</html>
