<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {%if title%}
            {{title}}
            {%else%}
            My Damn Fine Website
            {%endif%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div class="grid-container">
            <div id="navi">
                <h1>Bill's Blog</h1>
                <ul>
                    {%if current_user.is_authenticated%}
                    <li>Welcome, {{current_user.username}}!</li>
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                {%else%}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                {%endif%}
                    <li>------------</li>
                    <li><a href="{{url_for('home')}}">Homepage</a></li>
                    <li><a href="{{url_for('about')}}">About Us</a></li>
                </ul>
            </div>
            <div id="main">
                {% block content %} {% endblock %}
            </div>
            <div id="sidebar">
                Test
            </div>
        </div>
        <div style="visibility: hidden;">
            {% with messages = get_flashed_messages() %}
                {%if messages%}
                <ul class="flashes">
                    {%for message in messages%}
                    <li>{{message}}</li>
                    {%endfor%}
                </ul>
                {%endif%}
            {%endwith%}
        </div>
    </body>
</html>

