{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img/' + post.image_file)}}">
<h1>{{ post.title }}</h1>
<p id="main_text">{{ post.content }}</p>

<!-- Comment Section -->

<h1>Comments</h1>

{% for comment in comments %}

<div class="comment">
    <p class="comment_user"><strong>{{ comment.user.username }}</strong> commented on <script> document.write(moment("{{post.date}}").format("LL"));</script></p>
    <p class="comment_content">{{ comment.content }}</p>
</div>

{% endfor %}
{%if current_user.is_authenticated%}
<form method="POST" action="{{ url_for('post_comment', post_id=post.id)}}">
    {{form.csrf_token}}
    <div class="">
        {{ form.comment(class_="commentform") }}
    </div>
    <div class="">
       {{ form.submit(class_="btn") }}
     </div>
</form>
{% else %}
<p>You need to <a href="{{url_for('login')}}">Log In</a> to post comment.</p>
{% endif %}
{% endblock content %}

{%block sidebar%}
    <p><strong>Posted on:</strong>  <script>document.write(moment("{{post.date}}").format("LL"));</script></p>
    <p><strong>Author:</strong> {{post.user.username}}</p>
    <p id="likenumber">12</p>
    <p>Like</p>
{%endblock sidebar%}